<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @meeting.name %>
</p>

<p>
  <b>Meeting type:</b>
  <%= @meeting.meeting_type_id %>
</p>

<p>
  <b>Description:</b>
  <%= @meeting.description %>
</p>

<p>
  <b>Meeting date:</b>
  <%= @meeting.meeting_date %>
</p>

<p>
  <b>Start time:</b>
  <%= @meeting.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @meeting.end_time %>
</p>

<p>
  <b>Attendee(s):</b>
  <%#= @attendees %>
</p>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
