<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= best_in_place @attendee,:name %>
</p>

<p>
  <b>Mail:</b>
  <%= best_in_place @attendee,:mail %>
</p>


<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
